{% extends "index.html"%}
{% block content %}
<section class="hero">
    <div class="container">
        <h1>About Us</h1>
    </div>
</section>

<section class="about">
    <div class="container">
        <h2>Our Mission</h2>
        <p>At Pet Care and Adoption, our mission is to provide a platform where pet lovers can find valuable information about pet care, connect with adoption resources, and access pet-related services. We aim to promote responsible pet ownership and advocate for the well-being of all animals.</p>
        <h2>Our Team</h2>
        <p>We are a dedicated team of animal lovers, veterinarians, and pet care experts committed to making a difference in the lives of pets and their owners. With our combined expertise and passion for animals, we strive to create a positive impact on the community and foster a culture of compassion and care.</p>
    </div>
</section>
{% endblock %}